{{! This partial is based on the foundry settings partial}}
{{#*inline "settingPartial"}}
<div class="form-group">
	<label>{{this.name}}</label>
	{{#if this.isCheckbox}}
	<input type="checkbox" name="{{this.id}}" data-dtype="Boolean" {{checked this.value}} />
	{{else if this.isSelect}}
	<select name="{{this.id}}">
		{{#select this.value}}
		{{#each this.choices as |name k|}}
		<option value="{{k}}">{{localize name}}</option>
		{{/each}}
		{{/select}}
	</select>
	{{else if this.isRange}}
	<input type="range" name="{{this.id}}" data-dtype="Number" value="{{ this.value }}" min="{{ this.range.min }}"
		max="{{ this.range.max }}" step="{{ this.range.step }}" />
	<span class="range-value">{{this.value}}</span>
	{{else if this.isColor}}
	<input id="{{this.id}}" type="text" name="{{this.id}}" value="{{this.value}}" style="display: none;" />
	<button id="{{this.id}}-button" name="{{this.id}}-button" value="{{this.value}}" data-responsive-color
		data-dtype="{{this.type}}" is="colorpicker-button" for="{{this.id}}" form="combatready-sounds">{{localize
		name}}</button>
	{{else if this.isMultiline}}
	<textarea name="{{this.id}}" data-dtype="{{this.type}}">{{this.value}}</textarea>
	{{else if this.isFilePicker}}
	<div class="form-fields">
		<button type="button" class="file-picker" data-type="{{this.filePicker}}" data-target="{{this.id}}"
			title="Browse Files" tabindex="-1"><i class="fas fa-file-import fa-fw"></i></button>
		<input type="text" name="{{this.id}}" value="{{this.value}}" data-dtype="String">
		{{#if this.isSoundPicker}}
		<i data-tooltip="{{localize 'Preview'}}" class="fas fa-play audio-preview" style="flex:0; cursor: pointer;"></i>
		{{/if}}
	</div>
	{{else}}
	<input type="text" name="{{this.id}}" value="{{this.value}}" data-dtype="{{this.type}}" />
	{{/if}}
	<p class="notes">{{this.hint}}</p>
</div>
{{/inline}}



<form class="flexcol combatready-sounds" id="combatready-sounds" autocomplete="off">
	<section class="content">
		<div class="settings-list">
			<div class="combatready-sounds-settings" id="combatready.sounds.settings">
				<h2 class="module-header">{{localize "combatReady.settings.sounds.settings.name"}}</h2>
				{{#each this}}
				{{> settingPartial}}
				{{/each}}
			</div>
		</div>
	</section>

	<footer class="sheet-footer flexrow">
		<button type="submit" name="submit">
			<i class="far fa-save"></i> {{localize 'SETTINGS.Save'}}
		</button>
	</footer>
	<script>
		document.querySelectorAll('#combatready-timers button[is="colorpicker-button"]').forEach(e => {
			if (e.attributes.getNamedItem("for")?.value != undefined) {
				let target = document.getElementById(e.attributes.getNamedItem("for")?.value);
				if (target != undefined) {
					e.addEventListener("pickerDone", function (picker) {
						target.value = e.value;

					});
					e.addEventListener("click", function () {
						document.getElementById("combatready-timers-settings").style.height = "";
					});
				}
			}
		});
	</script>
</form>